.App {
  text-align: center;
  background-color: #0a2238;
  color: white;
}

.App-header {
  background-color: #000013;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

body {
  background-color: #0a2238;
}

.App-body {
  background-color: #0a2238;
}

.closetSticky {
  position: sticky;
  top: 0px;
}

.learnHowBtn {
  text-align: right;
}

.closet {
  text-align: left;
}
